@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.movie-wrapper {
  text-align: center;
  background: #22254b;
  padding-top: 30px;
}
.navbar {
  display: flex;
  background: #373b69;
  justify-content: space-between;
  padding: 13px 7%;
  z-index: 100;
}

.navbar-fixed {
  position: fixed;
  width: 86%;
}

.navbar h3 {
  font-size: 2rem;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  display: inline-block;
  padding: 12px 15px;
  font-size: 1.1rem;
}
.navbar ul li span {
  background: red;
  padding: 5px;
  border-radius: 50%;
  margin: 4px;
}
.search {
  border: 2px solid #373b69;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  width: 40%;
  outline: none;
}
.input-wrapper {
  display: flex;
  justify-content: center;
}
.btn-search {
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  margin-left: -124px;
  border: 2px solid #373b69;
  font-size: 1.1rem;
  background-color: #373b69;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  height: auto;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  margin: 1rem;
  width: 300px;
  position: relative;
  z-index: 0;
}
.movie:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.movie img {
  width: 100%;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}
.img-container:hover > .movie-info {
  display: block;
}
.movie-info {
  display: none;
  position: absolute;
  background: rgba(54, 54, 54, 0.85);
  width: 100%;
  height: 300px;
  padding: 10px 0px;
  /* filter: brightness(0.5); */
  cursor: pointer;
}
.movie-info p {
  margin: 10px;
}

.controls {
  /* background-color: #373b69; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.btn {
  background: #22254b;
  border: none;
  padding: 12px 10px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0px 5px;
}

button:disabled,
button[disabled] {
  background: #313457;
  cursor: default;
}
@media (max-width: 1024px) {
  .search {
    width: 60%;
  }
}
@media (max-width: 745px) {
  .movie-container {
    width: 100%;
  }
  .movie-info {
    height: 400px;
  }
  .movie {
    width: 45%;
  }
  .movie img {
    height: 400px;
  }
  .search {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .movie {
    width: 40%;
  }
}
@media (max-width: 560px) {
  .movie-container {
    width: 90%;
  }
  .movie {
    width: 100%;
  }
  .movie-info {
    height: 500px;
  }
  .movie img {
    height: 500px;
  }
  .search {
    width: 80%;
  }
}
